{% extends "base.html" %}

{% block content %}
<h1>{{ title | default:"My Site" }}</h1>
  {{ html_table | safe }}
 <!-- some text -->


<p>
<b>Life Expectancy </b>- The average number of years that a new born could expect to live, if the current mortality rate is constant.
</p >
<p>
<b>National Income per Capita </b>- GNI per capita, PPP (constant 2011 international $).
</p >
<p>
<b>Population Density</b> - Population density (people per sq. km of land area).
</p >
<p>
<b>Air Pollution</b> - PM2.5 air pollution, mean annual exposure (micrograms per cubic meter).
</p >
<p>
<b>Sanitation Facility</b> - Improved sanitation facilities (% of population with access).
</p >
<p>       
<b>Education Expenditure</b> - Adjusted savings: education expenditure (% of GNI).
</p >
<p>
<b>Clean Water Source</b> - Improved water source (% of population with access).
</p >
<p>
<b>Health Expenditure</b> - Health expenditure per capita (current US$).
</p >
<p>
<b>Urban Population Percentage</b> - Urban population (% of total).
</p >
<p>
<b>Carbon Dioxide Emission</b> - CO2 emissions (metric tons per capita).
</p >
{% endblock %}
