{% extends "base.html" %}

{% block content %}


<section>
  <div id="plot"><img src='{{ pic_source }}' width=90%/></div>
  <p>We have observed positive relationships between <strong>Life Expectancy</strong> and <strong>National Income per Capita</strong>, <strong>Health and Education Expenditure</strong>, <strong>Water Sanitation Facilit</strong>, <strong>CO2 Emission</strong>, and <strong>Access to Clean Water Source</strong>.</p>
  <p>A negative relationship exists between <strong>Life Expectancy</strong> and <strong>Air Pollution</strong>.</P>
  <p>Based on our observations, we would like to speculate that <em>economic indicators, educational access, water sanitation, air quality are all important factors influencing life expectancy</em>.
  </p>
</section>
{% endblock %}
